
<table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">Payment Id</th>
        <th scope="col">Mentor Id</th>
        <th scope="col">Skill Id</th>
        <th scope="col">Slot1</th>
        <th scope="col">Slot2</th>
        <th scope="col">Slot3</th>
        <th scope="col">Slot4</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>9</td>
        <td>16</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
       
      </tr>
     
      
    </tbody>
  </table>